body{
    background-color: rgb(240, 240, 240);
    font-family: Verdana, Tahoma, sans-serif;
}

.fila:after {
    content: "";
    display: table;
    clear: both;
}
.columna{
    float:left;
    width:50%;
    display: flex;
    align-items: center;
}
img{
    width:78%;
    position: relative;
    top:auto;
}
.informacion{
    background-color: rgb(255, 255, 255);
    position:relative;
    left:0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(60%);
    padding: 15px;
    box-shadow: 6px 6px rgb(0, 150, 136);
}